Dictionaries:uses curly braces,  Objects retrieved by key name
             unordered and cannot be sorted
Lists : square braces, Objects retrievd by location
        ordered sequence can be indexed or sliced

Booleans are operators that allow you to convey True or False statements

Sets are unordered colections of unique elements. there can be only one representation of the same object.
myset = set()
myset.add(1)

In [5]:
pwd

'C:\\Users\\Kunjan Dalal\\my python stuff'

In [4]:
myset = set()
myset.add(1)
myset
mylist =[1,1,1,2,2,3,3]
set(mylist)

{1, 2, 3}

In [13]:
400*1/2+1-100.75

100.25

In [14]:
4 * (6 + 5)

44

In [1]:
my_dict ={'key1': 'value1', 'key2': 'value2'}
my_dict['key1']

'value1'

In [16]:
4 + 6 * 5

34

In [ ]:
#Tuples are similar to lists, but they are immutable. use parenthessi(1,2,3)

In [21]:
x = 3 + 1.5 + 4

In [19]:
type(x)

NameError: name 'x' is not defined

In [23]:
16 **0.5

4.0

In [30]:
s= 'hello'
print(s[1])
print(s[-1:0])# print out e

e

In [33]:
s= 'hello'
print(s[-1]) #print out o

o

In [34]:
mylist = [0,0,0]

In [35]:
print(mylist)

[0, 0, 0]

In [39]:
list3= [1,2,[3, 4,'hello']]
list3[2][2]='goodbye'

In [40]:
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [45]:
list4=[5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

In [44]:
print(newlist)

<built-in method sort of list object at 0x000002AB9AC8C840>

In [48]:
d = {'simple_key':'hello'}
print(d['simple_key'])

hello

In [51]:
d = {'k1':{'k2':'hello'}}
print(d['k1']['k2'])

hello

In [69]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d['k1'][0]['nest_key'][1])

['hello']

In [81]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

In [91]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2])

['hello']

In [82]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [83]:
3.0 == 3

True

In [84]:
4**0.5 != 2

False

In [85]:
3 == 2.0

False

In [86]:
3 <= 2

False

In [87]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [92]:
2 <= 3 >= 1

True